<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.5"?>

<target name="Example">
<locations>
<location path="${eclipse_home}" type="Profile">
<includeBundles>
<plugin id="org.eclipse.jdt.junit"/>
<plugin id="org.eclipse.jdt.junit.core"/>
<plugin id="org.eclipse.jdt.junit4.runtime"/>
<plugin id="com.sun.jna"/>
<plugin id="org.eclipse.osgi.services"/>
<plugin id="org.eclipse.pde.junit.runtime"/>
<plugin id="org.eclipse.equinox.ds"/>
<plugin id="org.hamcrest.core"/>
<plugin id="org.eclipse.equinox.event"/>
<plugin id="org.eclipse.equinox.util"/>
<plugin id="org.junit" version="4.8.1.v4_8_1_v20100114-1600"/>
<plugin id="org.eclipse.jdt.junit.runtime"/>
<plugin id="org.eclipse.osgi"/>
</includeBundles>
</location>
<location path="${project_loc}" type="Directory"/>
</locations>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/J2SE-1.5"/>
</target>
